*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-blue: #2f3c44;
  --white: #f9fbfd;
}

html,
body,
.main-card {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--white);
}

.main-card {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: var(--dark-blue);
}

.card {

}